root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Langages compilés (C# : indent 4 espaces)
[*.cs]
indent_style = space
indent_size = 4
dotnet_sort_system_directives_first = true

[*.{json,yml,yaml,md}]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4
max_line_length = 100

[*.{ts,tsx,js,jsx}]
indent_style = space
indent_size = 2
quote_type = single

[*.{csproj,sln,props,targets}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab